[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
markdown = {index = "https://pypi.tuna.tsinghua.edu.cn/simple", version = "*"}
django = "==2.2.3"

[requires]
python_version = "3.6.4"
